Package: my-tube
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Installed-Size: 23548
Maintainer: RomeoManoela romeomanoela18@gmail.com
Description: Une application de desktop pour télécharger des vidéos YouTube
 Une application de bureau qui permet de télécharger des vidéos YouTube
 dans différents formats et qualités.
